.container {
  text-align: center;
  margin: auto;
  max-height: 80px;
}

ul.submenu {
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  overflow: hidden;
}
ul.submenu li {
  display: inline-block;
}
ul.submenu li a em.fa {
  padding: 10px;
  display: inline-block;
  border: 1px solid transparent;
  color: #ccc;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
ul.submenu li a em.fa::after {
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  top: -500%;
  bottom: -500%;
  left: -500%;
  right: -500%;
  margin: auto;
  border: 0px solid transparent;
  border-radius: 200px;
  opacity: 0;
  z-index: -1;
  transition: all ease 0.5s;
}
ul.submenu li a:hover em.fa::before {
  color: white;
}
ul.submenu li a:hover em.fa-facebook::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover em.fa-twitter::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover em.fa-telegram::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}
ul.submenu li a:hover em.fa-instagram::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}