{% extends 'base.html' %}
{% block title %} Блог {% endblock %}
{% block content %}
    <ul>
        {% for article in articles_list %}
            <li>{{ article.name }}</li>
            {{ article.author.name }}
            {{ article.release_date }}
            <a href = '{% url 'article' pk=article.id %}'>Посмотреть</a>
            {{ article.content| linebreaks |title| truncatechars:'50' }}
             <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">

                    {% for i in i|rjust:article.photos.count %}
                        <li data-target="#carouselExampleIndicators" data-slide-to=" {{ forloop.counter }}"
                            {% if forloop.counter == 1 %} class="active" {% endif %}
                        ></li>
                    {% endfor %}

                </ol>
                <div class="carousel-inner">
                    {% for ph in article.photos.all %}
                        {% if ph.photo %}

                            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                <img class="w-50 img-fluid m-auto d-block" src="{{ ph.photo.url }}" alt="{{ ph.alt }}">
                            </div>
                        {% endif %}
                    {% endfor  %}

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>



            <hr>
        {% endfor %}
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}
    </ul>
{% endblock %}