{% extends 'base.html' %}
{% block link %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}
{% block title %} Блог {% endblock %}
{% block content %}
    <div class="jumbotron mt-2 p-3 p-md-5 text-white rounded bg-psycho-teal">
        <div class="col-md-6 px-0">
            <h3 class="font-italic">Блог Art Of Life</h3>
            <p class="lead my-3">Статьи специалистов нашей команды о психологии</p>
        </div>
    </div>
    <div>
        <div class="row justify-content-around mx-5">
            {% for article in articles_list %}
                <div class="card col-12 col-sm-12 col-md-12 col-xl-3 m-5 border-0 bg-psycho-pearlbush"
                     data-aos="flip-right">
                    <div class="card-header bg-psycho-pearlbush border-0 cardhead">
                        <h3 class="text-psycho-blue">{{ article.name }}</h3>
                    </div>
                    <div class="card-header bg-psycho-pearlbush">
                        <div class="text-psycho-lightblue">
                            <b><a class="link-blue" href="{% url 'person' pk=article.author.id %}"> <i
                                    class="fas fa-user"></i> {{ article.author.full_name }}</a></b>
                            <span class="d-xl-none"><br></span>&nbsp;
                            <i class="fas fa-calendar"></i> <i>{{ article.release_date | date:"d E Y" }}</i>
                        </div>
                    </div>
                    <div class="card-body cardbody">
                        <p class="text-justify"> {{ article.content | linebreaksbr| safe| truncatechars:'300' }}</p>
                    </div>
                    <div class="card-footer text-right border-0 bg-psycho-pearlbush">
                        <b><a class='btn bg-psycho-teal text-psycho-blue ' href='{% url 'article' pk=article.id %}'>Читать
                            далее...</a></b>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}
    </div>
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    {% block onload %}
        <script>
            function sleep(milliseconds) {
                let start = new Date().getTime();
                for (let i = 0; i < 1e7; i++) {
                    if ((new Date().getTime() - start) > milliseconds) {
                        break;
                    }
                }
            }


            function max_class(lst, mx = true) {
                let l = mx?-Infinity:Infinity;
                for (let i = 0; i < lst.length; ++i) {
                    l = mx?Math.max(lst[i].offsetHeight, l):Math.min(lst[i].offsetHeight, l);
                }
                for (let i = 0; i < lst.length; ++i) {
                    lst[i].style.height = l.toString() + "px";
                }
            }

            window.onload = function () {
                sleep(1000);
                document.getElementById('preloader').classList.add('d-none');
                document.getElementById('body').classList.remove('d-none');
                let width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (width>=1200) {
                    max_class(document.getElementsByClassName("cardhead"));
                    max_class(document.getElementsByClassName("cardbody"));
                }
            }
        </script>

    {% endblock %}
{% endblock %}
