{% extends 'base.html' %}
{% block title %} Блог {% endblock %}
{% block content %}
    <ul>
        {% for article in articles_list %}
            <li>{{ article.name }}</li>
            {{ article.author.name }}
            {{ article.release_date }}
            <a href = '{% url 'article' pk=article.id %}'>Посмотреть</a>
            {{ article.content| linebreaks |title| truncatechars:'50' }}
            {% for ph in article.photos.all %}
                {% if ph.photo %}
                <img src="{{ ph.photo.url }}" alt="{{ ph.alt }}"
                     style="max-width: 100%; max-height: 100%;">
                {% endif %}
            {% endfor  %}

            <hr>
        {% endfor %}
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}
    </ul>
{% endblock %}