{% extends 'base.html' %}
{% block title %}  Специалисты {% endblock %}
{% block content %}
    <div class="row">
        <div class="row col-md-8">
        <div class="text-center col-12 font-weight-bold my-5"><h3>Наши специалисты</h3></div>
                {% for person in authors_list %}
                {% if person.photo %}
                    <div class="border-psycho-person row person mx-auto">
                        <div class="col-12 col-md-8 text-center">
                            <img class="img-fluid w-auto imag" src="{{ person.photo.url }}" alt="{{ person.alt }}">
                        </div>

                        <div class="col-12 col-md-4">
                        <div class="my-2 col-12 col-md-5 text-center mb-3">
                            <a href='{% url 'person' pk=person.id %}'><h3><em class="fas fa-user-circle"></em> {{ person.name }}</h3></a>
                        </div>
                        <div>
                            Полное имя: {{ person.full_name }}<br>
                            Контактная информация: {{ person.email }}<br> {{ person.contacts| linebreaks }} <br>
                            {{ person.info }}
                        </div>
                        </div>
                        <div class="offset-4 col-8 text-center mb-5">
                            <strong><a class='btn bg-psycho-teal text-psycho-blue' href = '{% url 'person' pk=person.id %}'>Посмотреть</a></strong>

                        </div>

                     </div>
                {% endif %}

                {% endfor %}

        </div>

        <div class="col-11 col-md-4 bg-psycho-pearlbush">
                <div class="text-white rounded bg-psycho-teal text-center my-2 py-4">
                    <h3 class="d-none d-xl-inline font-italic">Новые статьи</h3>
                    <h4 class="d-xl-none font-italic">Новые статьи</h4>
                </div>

                {% for ph, article in last_articles %}
                    <div class="card col-12 mb-3 bg-psycho-teal">
                        <div class="card-header bg-psycho-teal border-0 cardhead">
                            <a href="{% url 'article' pk=article.id %}"><h3 class="text-psycho-blue">{{ article.name }}</h3></a>
                        </div>
                        <div class="card-header bg-psycho-teal">
                            <div class="text-psycho-lightblue">
                                <strong><a class="link-blue" href="{% url 'person' pk=article.author.id %}"><em
                                        class="fas fa-user"></em> {{ article.author.full_name }}</a></strong>
                                <span class="d-xl-none"><br></span>
                                <span class="d-none d-xl-inline">&nbsp;</span>
                                <em class="fas fa-calendar"></em> <em>{{ article.release_date | date:"d E Y" }}</em>
                            </div>
                        </div>
                        <div class="card-body cardbody">
                            {% if ph.photo %}
                                <div>
                                    <div class="text-center my-2 "><img class="img-fluid center"
                                                                        src="{{ ph.photo.url }}"
                                                                        alt="{{ ph.alt }}"></div>
                                    <div>
                                        <p class="text-justify"> {{ article.content_min | linebreaksbr| safe| truncatechars:'300' }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <p class="text-justify"> {{ article.content_min | linebreaksbr| safe| truncatechars:'300' }}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer text-right border-0 bg-psycho-teal">
                            <strong><a class='btn bg-psycho-teal text-psycho-blue' href='{% url 'article' pk=article.id %}'>Читать
                                далее...</a></strong>
                            <span class="d-none d-xl-inline">&nbsp;<br>&nbsp;</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}
{% endblock %}
{% block onload %}
        <script>
            function sleep(milliseconds) {
                let start = new Date().getTime();
                for (let i = 0; i < 1e7; i++) {
                    if ((new Date().getTime() - start) > milliseconds) {
                        break;
                    }
                }
            }


            function max_class(lst, l) {

                for (let i = 0; i < lst.length; ++i) {
                    lst[i].style.height = l.toString() + "px";
                }
            }

            window.onload = function () {
                document.getElementById('preloader').classList.add('d-none');
                document.getElementById('body').classList.remove('d-none');
                let width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (width>=1200) {
                    max_class(document.getElementsByClassName("person"), 600);
                    max_class(document.getElementsByClassName("imag"), 400);
                }

            }
        </script>

    {% endblock %}