{% extends 'base.html' %}
{% block title %}  Специалисты {% endblock %}
{% block content %}

    {% if authors_list %}
        <ul>
            {% for person in authors_list %}
                <li>{{ person.name }}</li>
                {{ person.email }}<br>
                 <a href = '{% url 'person' pk=person.id %}'>Посмотреть</a>

                {% if person.photo %}
                <img src="{{ person.photo.url }}" alt="{{ person.alt }}"
                     style="max-width: 100%; max-height: 100%;">
                {% endif %}
                <hr>
            {% endfor %}
        </ul>
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}
    {% else %}
        <h3>Специалисты</h3>
        <p> Специалистов не найдено </p>
    {% endif %}
{% endblock %}