<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>


    <link href="{% static 'css/psycho.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container-fluid">
<div id="preloader" class="h100">
    {% block navbar_preloader %} {% include 'navbar.html' %} {% endblock %}
    <div class="center text-center">
        <img src="{% static 'preloader.gif' %}" alt="preloader">
        <p class="mt-5 font-weight-bold">Страница загружается...</p>
    </div>
</div>
<div id='body' class="d-none">
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}

    {% block content %}{% endblock %}
</div>
<script>
    function sleep(milliseconds) {
        let start = new Date().getTime();
        for (let i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }
    window.onload = function () {
        sleep(1000)
        document.getElementById('preloader').classList.add('d-none')
        document.getElementById('body').classList.remove('d-none')
    }
</script>

</body>
</html>