<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top row justify-content-around font-weight-bold">
    <a class="navbar-brand col-4" href="#top">Art Of Life</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon    "></span>
    </button>
    <div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
        <ul class="navbar-nav container-fluid row justify-content-around">
            <li class="nav-item col-lg-3">
                <a class="nav-link" href="{% url 'article_list' %}">Курсы для психологов</a>
            </li>
            <li class="nav-item col-lg-3">
                <a class="nav-link" href="{% url 'article_list' %}">Курсы для дебилов</a>
            </li>
            <li class="nav-item col-lg-2">
                <a class="nav-link" href="{% url 'article_list' %}">Статьи</a>
            </li>
            <li class="nav-item col-lg-2">
                <a class="nav-link" href="{% url 'article_list' %}">Товары</a>
            </li>
            <li class="nav-item dropdown col-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    О нас
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'person_list' %}">Специалисты</a>
                    <a class="dropdown-item" href="#">Контакты</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Форма связи</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<a href="{% url 'announcement_list' %}"><p>Анонсы</p></a>
<a href="{% url 'achievement_list' %}"><p>Сертификаты</p></a>
<a href="{% url 'help_item_list' %}"><p>Пункты помощи</p></a>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>h

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>
</html>


