<nav class="navbar navbar-expand-lg bg-psycho-blue sticky-top row justify-content-around font-weight-bold">
    <div class="col-4">
        <span class="container">
            <ul class="submenu">
                <li><a class="text-light navbar-brand text-center font-weight-bold col-12" href="/">Art Of Life</a></li>

                <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                <li><a href="#"><em class="fa fa-telegram"></em></a></li>
                <li><a href="#"><em class="fa fa-instagram"></em></a></li>
            </ul>
        </span>
    </div>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-8 text-md-center" id="navbarSupportedContent">
        <ul class="navbar-nav container-fluid row justify-content-around">
            <li class="nav-item dropdown col-lg-3">
                <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Обучение
                </a>
                <div class="dropdown-menu bg-psycho-blue text-light font-weight-bold" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item wh-n text-light font-weight-bold"
                       href="{% url 'event_list' type='common' %}">Обучение для всех</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item wh-n text-light font-weight-bold" href="{% url 'event_list' type='prof' %}">Обучение
                        для
                        специалистов</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item wh-n text-light font-weight-bold"
                       href="{% url 'event_list' type='university' %}">Базовое
                        психологическое образование</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item wh-n text-light font-weight-bold"
                       href="{% url 'event_list' type='personal' %}">Программы
                        личностного роста</a>
                </div>
            </li>
            <li class="nav-item col-lg-3">
                <a class="nav-link text-light font-weight-bold" href="{% url 'help_item_list' %}">Психологическая
                    помощь</a>
            </li>
            <li class="nav-item col-lg-2">
                <a class="nav-link text-light font-weight-bold" href="{% url 'article_list' %}">Блог</a>
            </li>
            <li class="nav-item col-lg-2">
                <a class="nav-link text-light font-weight-bold" href="{% url 'shop' %}">Магазин</a>
            </li>
            <li class="nav-item dropdown col-lg-2">
                <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    О нас
                </a>
                <div class="dropdown-menu bg-psycho-blue text-light font-weight-bold" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-light font-weight-bold" href="{% url 'person_list' %}">Специалисты</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light font-weight-bold" href="{% url 'contact_form' %}">Форма связи</a>
                </div>
            </li>
        </ul>

    </div>

</nav>
