{% if is_paginated %}
    <hr>
    <nav aria-label="Page navigation example" class="mb-5">
        <ul class="pagination flex-wrap justify-content-center">
            {% if page_obj.has_previous %}
                <!-- If it ain't a search result display, don't append the search query
                     to the URL. -->
                {% if not search %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                           tabindex="-1">Предыдущая</a>
                    </li>
                {% else %}
                    <!-- Append the searched query to the URL, so that on a search results page,
                         the pagination don't revert to listing all the listview items. -->
                    <li class="page-item">
                        <a class="page-link" href="?{{ search }}&page={{ page_obj.previous_page_number }}"
                           tabindex="-1">Предыдущая</a>
                    </li>
                {% endif %}
            {% endif %}
            {% for object in page_obj.paginator.page_range %}
                {% ifequal page_obj.number forloop.counter %}
                    <li class="page-item disabled"><a class="page-link"
                                                      href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                                      </li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if page_obj.has_next %}
                {% if not search %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ search }}&page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endif %}