{% extends 'base.html' %}
{% block title %}  Специалисты {% endblock %}
{% block content %}
    {% if authors_list %}
        <ul>
            {% for person in authors_list %}
                <li>{{ person.name }}</li>
                {{ person.email }}
                <hr>
            {% endfor %}
        </ul>
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}
    {% else %}
        <h3>Специалисты</h3>
        <p> Специалистов не найдено </p>
    {% endif %}
{% endblock %}