{% extends 'base.html' %}
{% block title %} Анонсы {% endblock %}
{% block content %}
<div class="jumbotron mt-2 p-3 p-md-5 text-white rounded bg-psycho-teal">
    <div class="col-md-6 px-0">
        <h3 class="font-italic">Компания Art Of Life</h3>
        <p class="lead my-3">Сайт психологического института</p>
    </div>
</div>
<div class="row justify-content-around">
    <div class="row col-md-7">
        <div class="text-center col-12 font-weight-bold"><h3>Анонсы мероприятий</h3></div>
        <div class="row mx-1 mx-xl-5 justify-content-around">
            {% for announcement in announcement_list %}
                <div class="card col-12 bg-psycho-pearlbush border-0 row {% if announcement.event.photo %}announcement{% endif %} justify-content-around"
                     data-aos="flip-right">
                    <div class="card-header border-0 bg-psycho-pearlbush">
                            <div class="text-psycho-lightblue border-psycho-date">
                                {% if announcement.event.start_date %}&nbsp;<i class="fas fa-calendar"></i> Начало: <i>{{ announcement.event.start_date | date:"d E Y H:i" }}</i>&nbsp;<br>{% endif %}
                                {% if announcement.event.end_date %}&nbsp;<i class="fas fa-calendar"></i> Конец: <i>{{ announcement.event.end_date | date:"d E Y H:i" }}</i>&nbsp;<br>{% endif %}
                                {% if announcement.event.duration %}
                                    &nbsp;<i class="fas fa-clock"></i> Длительность: <i>{{ announcement.event.duration }}&nbsp;</i>
                                {% endif %}
                            </div>
                    </div>
                    <div class="col-md-6 text-left">
                        {% if announcement.event.photo %}
                                <div class="offset-1 text-left mb-2 h300 ">
                                    <img class="w-auto h-100 img-fluid rounded" src="{{ announcement.event.photo.url }}"
                                                                    alt="{{ announcement.event.alt }}">
                                </div>

                        {% endif %}

                    </div>
                    <div class="col-md-5">
                        <div class="card bg-psycho-pearlbush border-0 cardhead">
                            <a href="{% url 'event' pk=announcement.event.id %}"><h3
                                    class="text-psycho-blue">{{ announcement.name }}</h3></a>
                        </div>
                        <div class="card-body cardbody">
                            {{ announcement.content }}
                        </div>

                    </div>
                </div>
                <div class="col-12 border-announcement bg-psycho-pearlbush text-right text-psycho-lightblue my-2">
                      {% if announcement.event.is_outdated != 'Мероприятие прошло' %}&nbsp;<i class="fas fa-hourglass"></i> До начала осталось: <h3>{{ announcement.event.start_date | timeuntil }}</h3>&nbsp;<br>{% endif %}
                </div>
            {% endfor %}
        </div>
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}

    </div>
    <div class="col-11 col-md-4 bg-psycho-pearlbush">
                <div class="text-white rounded bg-psycho-teal text-center my-2 py-4">
                    <h3 class="d-none d-xl-inline font-italic">Новые статьи</h3>
                    <h4 class="d-xl-none font-italic">Новые статьи</h4>
                </div>

                {% for article in last_articles %}
                    <div class="card col-12 mb-3 bg-psycho-teal">
                        <div class="card-header bg-psycho-teal border-0 cardhead">
                            <a href="{% url 'article' pk=article.id %}"><h3 class="text-psycho-blue">{{ article.name }}</h3></a>
                        </div>
                        <div class="card-header bg-psycho-teal">
                            <div class="text-psycho-lightblue">
                                <b><a class="link-blue" href="{% url 'person' pk=article.author.id %}"><i
                                        class="fas fa-user"></i> {{ article.author.full_name }}</a></b>
                                <span class="d-xl-none"><br></span>
                                <span class="d-none d-xl-inline">&nbsp;</span>
                                <i class="fas fa-calendar"></i> <i>{{ article.release_date | date:"d E Y" }}</i>
                            </div>
                        </div>
                        <div class="card-body cardbody">
                            {% if article.main_image.photo %}
                                <div>
                                    <div class="text-center my-2 "><img class="img-fluid center"
                                                                        src="{{ article.main_image.photo.url }}"
                                                                        alt="{{ article.main_image.alt }}"></div>
                                    <div>
                                        <p class="text-justify"> {{ article.content | linebreaksbr| safe| truncatechars:'300' }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <p class="text-justify"> {{ article.content | linebreaksbr| safe| truncatechars:'300' }}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer text-right border-0 bg-psycho-teal">
                            <b><a class='btn bg-psycho-teal text-psycho-blue' href='{% url 'article' pk=article.id %}'>Читать
                                далее...</a></b>
                            <span class="d-none d-xl-inline">&nbsp;<br>&nbsp;</span>
                        </div>
                    </div>
                {% endfor %}
            </div>


</div>
{% endblock %}
    {% block onload %}
        <script>
            function sleep(milliseconds) {
                let start = new Date().getTime();
                for (let i = 0; i < 1e7; i++) {
                    if ((new Date().getTime() - start) > milliseconds) {
                        break;
                    }
                }
            }


            function max_class(lst, mx = true) {
                let l = mx?-Infinity:Infinity;
                for (let i = 0; i < lst.length; ++i) {
                    l = mx?Math.max(lst[i].offsetHeight, l):Math.min(lst[i].offsetHeight, l);
                }
                for (let i = 0; i < lst.length; ++i) {
                    lst[i].style.height = l.toString() + "px";
                }
            }

            window.onload = function () {
                sleep(1000);
                document.getElementById('preloader').classList.add('d-none');
                document.getElementById('body').classList.remove('d-none');
                let width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                if (width>=800) {
                    max_class(document.getElementsByClassName("announcement"));
                }
            }
        </script>

    {% endblock %}