{% extends 'base.html' %}
{% block title %} Мероприятия {% endblock %}
{% block content %}
    <ul>
        {% for event_item in event_list %}
            <li>{{ event_item.name }}<br>
                {{ event_item.content | linebreaks }}<br>
                {{ event_item.start_date }}<br>
                {{ event_item.duration }}<br>
                {{ event_item.type }}<br>
                <a href = '{% url 'event' pk=event_item.id %}'>Посмотреть</a>
                {% if  event_item.photo %}
                <img src="{{ event_item.photo.url }}" alt="{{ event_item.alt }}"
                     style="max-width: 100%; max-height: 100%;">
                {% endif %}
            </li>
            <hr>
        {% endfor %}
        {% block pagination %}
            {% include 'pagination.html' %}
        {% endblock %}
    </ul>
{% endblock %}